<li class="separator acl-write"></li>
<li id="headings" class="acl-write">
    <select id="heading-selection">
        <option data-l10n-id="ep_heading-trl8.heading" value="dummy" selected></option>
        <option data-l10n-id="ep_heading-trl8.normal" value="-1"></option>
        <option data-l10n-id="ep_heading-trl8.h1" value="0"></option>
        <option data-l10n-id="ep_heading-trl8.h2" value="1"></option>
        <option data-l10n-id="ep_heading-trl8.h3" value="2"></option>
        <option data-l10n-id="ep_heading-trl8.h4" value="3"></option>
        <option data-l10n-id="ep_heading-trl8.h5" value="4"></option>
        <option data-l10n-id="ep_heading-trl8.h6" value="5"></option>
    </select>
</li>
